/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.swal_new {
    text-decoration: none;
    color: #ffffff;
}

.swal_new:hover {
    color: #ffffff;
}